<div class="backdrop" (click)="onCancel()">
  <div class="blur">

  </div>
</div>
<dialog open>
  <h2>Add investment</h2>
  <form>
    <p class="input">
      <label for="stockName">Stock name</label>
      <select name="stocks">
        @for (stock of stocks; track stock.id) {
        <option value="stock.id">
          {{ stock.name }}
        </option>
        }
      </select>
    </p>
    <p class="input">
      <label for="amount">Amount</label>
      <input type="number" id="amount" name="amount" />
    </p>
    <p class="input">
      <label for="price">Price</label>
      <input type="number" id="price" name="price" />
    </p>
    <p class="input">
      <label for="date">Date</label>
      <input type="date" id="date" name="date" />
    </p>
    <div class="actions">
      <button (click)="onCancel()" type="button">Cancel</button>
      <button (click)="onSubmit()" type="submit">Submit</button>
    </div>
  </form>
</dialog>
