$colorAccent: var(--color-accent);
$colorBackgroundPrimary: var(--color-background_primary);
$colorBackgroundSecondary: var(--color-background_secondary);

$radiusOuter: var(--radius-outer);

$paddingM: var(--padding-m);

$wXs: 420px;
$wS: 420px;
$wM: 720px;
$wL: 920px;
$wXl: 1280px;
