$colorAccent: var(--color-accent);
$colorBackgroundPrimary: var(--color-background_primary);
$colorBackgroundSecondary: var(--color-background_secondary);

$radiusM: var(--radius-m);

$paddingXS: var(--padding-xs);
$paddingS: var(--padding-s);
$paddingM: var(--padding-m);
$paddingL: var(--padding-l);

$wXs: 420px;
$wS: 420px;
$wM: 720px;
$wL: 920px;
$wXl: 1280px;
