/* You can add global styles to this file, and also import other style files */
:root {
  --color-accent: rgb(175, 100, 200);
  --color-background_primary: #e5e5e5;
  --color-background_secondary: #ccddee;
  --color-text: #2d2d2d;

  --radius-s: 4px;
  --radius-m: 8px;
  --radius-l: 12px;

  --padding-xs: 2px;
  --padding-s: 6px;
  --padding-m: 10px;
  --padding-l: 14px;

  font-family: sans-serif;

}

body {
  margin: 0;
}

button {
  border: none;
  padding: none;
  margin: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
