@use 'variables' as variables;
@use 'mixins/elements' as elements;

.transaction {
  display: flex;
  align-items: center;
  gap: variables.$paddingM;
  padding: variables.$paddingM;
}

img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
}

button {
  @include elements.button('s');
}
